:root {
    --purple: #501374;
    --light-purple: #8528bb;
}

.text-light-purple {
    color: var(--light-purple);
}

.home-bg {
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
}

.parent {
    border-radius: 30px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.8);
    z-index: 999;
}

h1 {
    font-size: 5rem;
}

#quoteDisplay {
    font-size: 2rem;
}

#quoteAuthor {
    letter-spacing: 3px;
}

.head-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translateY(-50%);
}

.btn-custom {
    color: rgb(180, 180, 180);
    background-color: rgb(83, 83, 83);
    transform: scale(1.05);
    animation-name: flash;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
}

@keyframes flash {
    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.btn-custom:hover {
    color: #fff;
    background-color: var(--purple);
    animation-iteration-count: unset;
}